<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swustacm.poweroj.solution.mapper.ProgramLanguageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swustacm.poweroj.problem.entity.ProgramLanguage">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="extTime" property="extTime" />
        <result column="extMemory" property="extMemory" />
        <result column="timeFactor" property="timeFactor" />
        <result column="memoryFactor" property="memoryFactor" />
        <result column="ext" property="ext" />
        <result column="exe" property="exe" />
        <result column="complieOrder" property="complieOrder" />
        <result column="compileCmd" property="compileCmd" />
        <result column="brush" property="brush" />
        <result column="script" property="script" />
        <result column="status" property="status" />
    </resultMap>
    <select id="getAll" resultType="com.swustacm.poweroj.problem.entity.ProgramLanguage">
        SELECT * FROM program_language WHERE status=1
    </select>

</mapper>
