<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swustacm.poweroj.mapper.ScoreMapper">


    <select id="getScore" resultType="com.swustacm.poweroj.entity.ExperienceScore">
  SELECT
	classes,
	NAME,
	realName,
	max( CASE s.cid WHEN #{param1} THEN score1 END ) ac1,
	max( CASE s.cid WHEN #{param1} THEN score2 END ) rep1,
	max( CASE s.cid WHEN #{param2} THEN score1 END ) ac2,
	max( CASE s.cid WHEN #{param2} THEN score2 END ) rep2,
	max( CASE s.cid WHEN #{param3} THEN score1 END ) ac3,
	max( CASE s.cid WHEN #{param3} THEN score2 END ) rep3,
	max( CASE s.cid WHEN #{param4} THEN score1 END ) ac4,
	max( CASE s.cid WHEN #{param4} THEN score2 END ) rep4,
	max( CASE s.cid WHEN #{param5} THEN score1 END ) ac5,
	max( CASE s.cid WHEN #{param5} THEN score2 END ) rep5,
	max( CASE s.cid WHEN #{param6} THEN score1 END ) ac6,
	max( CASE s.cid WHEN #{param6} THEN score2 END ) rep6,
	max( CASE s.cid WHEN #{param7} THEN score1 END ) ac7,
	max( CASE s.cid WHEN #{param7} THEN score2 END ) rep7,
	max( CASE s.cid WHEN #{param8} THEN score1 END ) ac8,
	max( CASE s.cid WHEN #{param8} THEN score2 END ) rep8
FROM
	score AS s
	LEFT JOIN `user` AS u ON u.uid = s.uid
	LEFT JOIN cprogram_user_info AS c ON c.uid = s.uid
WHERE
	s.cid IN ( #{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, #{param8} )
GROUP BY
	u.`name`
    </select>
    <select id="getScoreByTime" parameterType="String"  resultType="java.util.Map">
		${sql}
	</select>
</mapper>
