<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swustacm.poweroj.mapper.SolutionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swustacm.poweroj.solution.entity.Solution">
        <id column="sid" property="sid" />
        <result column="uid" property="uid" />
        <result column="pid" property="pid" />
        <result column="cid" property="cid" />
        <result column="num" property="num" />
        <result column="time" property="time" />
        <result column="memory" property="memory" />
        <result column="result" property="result" />
        <result column="language" property="language" />
        <result column="ctime" property="ctime" />
        <result column="mtime" property="mtime" />
        <result column="test" property="test" />
        <result column="wrong" property="wrong" />
        <result column="error" property="error" />
        <result column="source" property="source" />
        <result column="codeLen" property="codeLen" />
        <result column="systemError" property="systemError" />
        <result column="status" property="status" />
    </resultMap>
    <select id="solutionPage" resultType="com.swustacm.poweroj.solution.entity.Solution">
SELECT
	sid,
	s.uid as uid,
	pid,
	result,
	time,
	memory,
	s.LANGUAGE,
	codeLen,
	FROM_UNIXTIME( s.ctime, '%Y-%m-%d %H:%i:%s' ) AS stime,
	u.NAME,
	u.nick as nick
FROM
	solution s
	INNER JOIN USER u ON u.uid = s.uid
<where>
    <if test="language != null">
        s.LANGUAGE = #{language}
    </if>
    <if test="userName != null">
      and  u.NAME = #{userName}
    </if>
    <if test="result != null">
       and  result = #{result}
    </if>
    <if test="pid != null">
        and  pid = #{pid}
    </if>
</where>
ORDER BY
	s.ctime DESC
    </select>

</mapper>
