<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swustacm.poweroj.notice.mapper.HonorsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swustacm.poweroj.honor.entity.Honors">
        <id column="id" property="id" />
        <result column="level" property="level" />
        <result column="contest" property="contest" />
        <result column="team" property="team" />
        <result column="player" property="player" />
        <result column="prize" property="prize" />
    </resultMap>
    <select id="getHoners" resultType="com.swustacm.poweroj.honor.entity.Honors">
        select * from honors order by id desc
    </select>

</mapper>