<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swustacm.oj.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swustacm.oj.entity.User">
        <id column="uid" property="uid" />
        <result column="tid" property="tid" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="nick" property="nick" />
        <result column="realName" property="realName" />
        <result column="regEmail" property="regEmail" />
        <result column="email" property="email" />
        <result column="emailVerified" property="emailVerified" />
        <result column="language" property="language" />
        <result column="school" property="school" />
        <result column="solved" property="solved" />
        <result column="accepted" property="accepted" />
        <result column="submission" property="submission" />
        <result column="atime" property="atime" />
        <result column="ctime" property="ctime" />
        <result column="mtime" property="mtime" />
        <result column="loginTime" property="loginTime" />
        <result column="loginIP" property="loginIP" />
        <result column="phone" property="phone" />
        <result column="qq" property="qq" />
        <result column="blog" property="blog" />
        <result column="gender" property="gender" />
        <result column="comeFrom" property="comeFrom" />
        <result column="online" property="online" />
        <result column="level" property="level" />
        <result column="credit" property="credit" />
        <result column="shareCode" property="shareCode" />
        <result column="avatar" property="avatar" />
        <result column="signature" property="signature" />
        <result column="checkin" property="checkin" />
        <result column="checkin_times" property="checkinTimes" />
        <result column="status" property="status" />
        <result column="data" property="data" />
        <result column="token" property="token" />
    </resultMap>

</mapper>
